### use # to comment out the configure item

### I/O ###
train_dir=data/sample_data/train.cappos.bmes
dev_dir=data/sample_data/dev.cappos.bmes
test_dir=data/sample_data/test.cappos.bmes
model_dir=data/lstmcrf
word_emb_dir=/home/user/corpus/pretrain/glove.6B/glove.6B.100d.txt
train_bert_dir=data/2003-5.train.bert.bin
dev_bert_dir=data/2003.data.dev.bert.bin
test_bert_dir=data/2003.data.test.bert.bin


#raw_dir=
#decode_dir=
#dset_dir=
#load_model_dir=
#char_emb_dir=

norm_word_emb=False
norm_char_emb=False
number_normalized=True
seg=True
word_emb_dim=200
char_emb_dim=30

###NetworkConfiguration###
use_crf=True
use_char=True
word_seq_feature=LSTM
char_seq_feature=CNN

feature=[pos] emb_size=20
feature=[parse] emb_size=20
#nbest=1

###TrainingSetting###
status=train
optimizer=SGD
iteration=100
batch_size=4
ave_batch_loss=False

###Hyperparameters###
cnn_layer=4
char_hidden_dim=50
hidden_dim=200
dropout=0.5
lstm_layer=1
bilstm=True
learning_rate=0.015
lr_decay=0.05
label_embedding_scale=0.0025
num_attention_head=2
momentum=0.9
whether_clip_grad=True
clip_grad=5
l2=1e-8
gpu=True
device=cuda:0  # cuda:1   cpu
seed=42
